.ivy2.cache
.sonar
.project
.classpath
.gradle
.settings
/build
out
coverage
dist
eclipse
findbugs
logs
target
test-output
.DS_Store
/.idea
*.iml
*~
node_modules/
dist/
.tmp/
test-results.xml
.nebulatmp/
*.log
*results.xml
app/bundle.js
*.bundle.js