.nf-spinner {
    display:inline-block;
    background: url('/assets/images/spinner.png') transparent no-repeat 0 0;
    width: 75px;
    height: 75px;

    -webkit-text-fill-color: transparent;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-transform-origin: 50% 50%;

    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(3600deg);
}

.nf-spinner-main {

    position: absolute;
    left: -250px;
    right:0;

    margin: 150px auto 0 auto;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.nf-spinner.x-small {
    width:15px;
    height:15px;
    background-size: 15px 15px;
}

.nf-spinner.small {
    width:35px;
    height:35px;
    background-size: 35px 35px;
}

.nf-spinner.medium {
    width:75px;
    height:75px;
    background-size: 75px 75px;
}

.nf-spinner.center {
    margin: 10px 45%;
}

.spinner-container {
    position:relative;
}

.spinner-container .center-spinner {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
}
